html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
}

.background-icon {
  position: absolute;
  bottom: -124px;
  left: calc(50% - 960px);
  width: 1926.4px;
  height: 1204px;
  object-fit: cover;
}
.coin-right-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 306.81px;
  height: 378px;
  object-fit: cover;
}
.coin-left-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 242px;
  height: 900px;
  object-fit: cover;
}
.bottom-icon {
  position: absolute;
  width: calc(100% - 2px);
  right: 2px;
  bottom: 4px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  height: 616px;
  object-fit: cover;
}
.man-icon {
  position: absolute;
  right: calc(50% - 458px / 2 - 730px);
  bottom: 0px;
  width: 458px;
  height: 583px;
  object-fit: cover;
}
.man-bottom {
  position: absolute;
  width: calc(100% + 2px);
  right: -2px;
  bottom: -4px;
  left: 0px;
  height: 620px;
}
.footer-child {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0f1717;
  width: 100%;
  height: 68px;
}
.all-rights-reserved {
  margin: 0;
}
.copyright-2007-container {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 0.48px);
  line-height: 12px;
}
.logo-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 201.52px);
  width: 169.05px;
  height: 16px;
}
.copyright-2007-2023-betwi-parent {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 201.52px);
  width: 403.05px;
  height: 24px;
}
.footer-inner {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 432px);
  width: 403.05px;
  height: 24px;
}
.child {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  width: 32px;
  height: 32px;
}
.div1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  line-height: 16px;
  font-weight: 500;
}
.div {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 135.5px);
  width: 32px;
  height: 32px;
}
.not-for-persons-container {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 87.5px);
  font-size: 10px;
  line-height: 12px;
}
.parent {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% + 161.05px);
  width: 271px;
  height: 32px;
  font-size: 12px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  font-size: 10px;
}
.bank-transfer-icon {
  position: relative;
  width: 32px;
  height: 34px;
  object-fit: cover;
}
.visa-icon {
  position: relative;
  width: 90px;
  height: 28px;
  object-fit: cover;
}
.mastercard-icon {
  position: relative;
  width: 45px;
  height: 28px;
  object-fit: cover;
}
.skrill-icon {
  position: relative;
  width: 79px;
  height: 28px;
  object-fit: cover;
}
.google-play-icon {
  position: relative;
  width: 71px;
  height: 34px;
  object-fit: cover;
}
.bitcoin-icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.and-more {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.5;
}
.payments {
  position: absolute;
  top: calc(50% + 353px);
  left: calc(50% - 432px);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 864px;
  display: flex;
  flex-direction: row;
  padding: 28px 42px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
.icon-broudcasting {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.more-then-10000-container {
  position: relative;
  line-height: 20px;
  font-weight: 900;
}
.broudcasting {
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.benefits {
  position: absolute;
  top: calc(50% + 177px);
  left: calc(50% - 432px);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  padding: 24px 24px 32px;
  align-items: center;
  justify-content: center;
  gap: 54px;
  text-align: center;
}
.bonus-group-child {
  position: absolute;
  top: calc(50% - 188.5px);
  left: calc(50% - 432px);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 3px solid #ffce06;
  box-sizing: border-box;
  width: 864px;
  height: 432px;
}
.img-girl-icon {
  position: absolute;
  top: calc(50% - 286.5px);
  left: calc(50% - 183px);
  width: 366px;
  height: 290px;
  object-fit: cover;
}
.free-spins {
  margin: 0;
  color: #ffce06;
}
.bonus-65500000-container {
  position: absolute;
  top: calc(50% + 3.5px);
  left: calc(50% - 343px);
  line-height: 54px;
  text-transform: uppercase;
  font-weight: 900;
  width: 686px;
}
.button-icon {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 138.5px);
  width: 277px;
  height: 86px;
  object-fit: cover;
}
.get-bonus {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 110.5px);
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 1px 1px 0px #fff;
}
.button {
  position: absolute;
  top: calc(50% + 200.5px);
  left: calc(50% - 139px);
  width: 277px;
  height: 86px;
  font-size: 28px;
  color: #000;
}
.bonus-group {
  position: absolute;
  top: 96px;
  left: calc(50% - 432px);
  width: 864px;
  height: 573px;
  text-align: center;
  font-size: 42px;
}
.logo-icon1 {
  position: absolute;
  top: 48px;
  left: calc(50% - 127px);
  width: 253.57px;
  height: 24px;
}
.x1080-get-en {
  position: relative;
  background: url(../img/background.jpg);
  background-image: url(../img/background.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #13503a;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Montserrat;
  min-height: 1080px;
}

@media screen and (max-width: 959px) {
  .x1080-get-en {
    min-height: 1563px;
  }
  .background-icon {
    position: absolute;
    height: calc(100% + 124px);
    top: 0px;
    bottom: -124px;
    left: 0px;
    max-height: 100%;
    width: 1926px;
    object-fit: cover;
  }
  .footer-child {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #0f1717;
    height: 153px;
  }
  .copyright-2007 {
    position: absolute;
    bottom: 24px;
    left: calc(50% - 155.5px);
    line-height: 12px;
    display: inline-block;
    width: 312px;
  }
  .logo-icon {
    position: absolute;
    bottom: 81px;
    left: calc(50% - 84.5px);
    width: 169.05px;
    height: 16px;
    top: auto;
  }
  .child {
    position: absolute;
    bottom: 0px;
    top: auto;
    left: calc(50% - 16px);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 32px;
    height: 32px;
  }
  .div1 {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 8px);
    line-height: 16px;
    font-weight: 500;
    top: auto;
  }
  .div {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 135.5px);
    width: 32px;
    height: 32px;
    top: auto;
  }
  .not-for-persons {
    margin: 0;
  }
  .not-for-persons-container {
    position: absolute;
    bottom: 4px;
    top: auto;
    left: calc(50% - 87.5px);
    font-size: 10px;
    line-height: 12px;
  }
  .parent {
    position: relative;
    left: calc(50% - 312px / 2);
    width: 312px;
    height: 32px;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: Montserrat;
    top: 56px;
  }

  .footer {
    position: absolute;
    bottom: 1px;
    top: auto;
    left: calc(0%);
    width: 100%;
    height: 152px;
  }
  .bottom-icon {
    position: absolute;
    bottom: 1px;
    left: calc(50% - 484px);
    width: 968px;
    height: 312px;
    object-fit: cover;
  }
  .man-icon {
    position: absolute;
    bottom: 0px;
    left: calc(50% + 107px);
    width: 180px;
    height: 229px;
    object-fit: cover;
  }
  .man-bottom {
    position: absolute;
    bottom: 150px;
    left: calc(50% - 471px);
    width: 968px;
    height: 313px;
  }
  .bank-transfer-icon {
    position: relative;
    width: 19px;
    height: 20px;
    object-fit: cover;
  }
  .visa-icon {
    position: relative;
    width: 51px;
    height: 16px;
    object-fit: cover;
  }
  .mastercard-icon {
    position: relative;
    width: 26px;
    height: 16px;
    object-fit: cover;
  }
  .skrill-icon {
    position: relative;
    width: 45px;
    height: 16px;
    object-fit: cover;
  }
  .google-play-icon {
    position: relative;
    width: 42px;
    height: 20px;
    object-fit: cover;
  }
  .bitcoin-icon {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .and-more {
    position: relative;
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    font-family: Montserrat;
    color: #fff;
    text-align: left;
    opacity: 0.5;
  }
  .payments {
    position: absolute;
    top: 1143px;
    left: calc(50% - 256px);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    padding: 15px 32px;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    width: 512px;
  }
  .icon-broudcasting {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .more-then-10000-container {
    position: relative;
    line-height: 20px;
    font-weight: 900;
  }
  .broudcasting {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .benefits {
    position: absolute;
    top: 635px;
    left: calc(50% - 156px);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 312px;
    height: 460px;
    display: flex;
    flex-direction: column;
    padding: 38px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 48px;
    font-size: 16px;
  }
  .bonus-group-child {
    position: absolute;
    top: 107px;
    left: calc(50% - 276px);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px solid #ffce06;
    box-sizing: border-box;
    width: 552px;
    height: 285px;
  }
  .img-girl-icon {
    position: absolute;
    top: 0px;
    left: calc(50% - 141px);
    width: 282px;
    height: 223px;
    object-fit: cover;
  }
  .free-spins {
    margin: 0;
    color: #ffce06;
  }
  .bonus-65500000-container {
    position: absolute;
    top: 231px;
    left: calc(50% - 229px);
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    width: 458px;
  }
  .button-icon {
    position: absolute;
    top: 0px;
    left: calc(50% - 103.5px);
    width: 207px;
    height: 64px;
    object-fit: cover;
  }
  .get-bonus {
    position: absolute;
    top: 20px;
    left: calc(50% - 70.5px);
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 0px #fff;
  }
  .button {
    position: absolute;
    top: 359px;
    left: calc(50% - 112px);
    width: 207px;
    height: 64px;
    font-size: 18px;
    color: #000;
  }
  .bonus-group {
    position: absolute;
    top: 140px;
    left: calc(50% - 276px);
    width: 552px;
    height: 423px;
    font-size: 28px;
  }
  .coin-right-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 147px;
    height: 180px;
    object-fit: cover;
  }
  .coin-left-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 112px;
    height: 416px;
    object-fit: cover;
  }
  .logo-icon1 {
    position: absolute;
    top: 48px;
    left: calc(50% - 106px);
    width: 211.31px;
    height: 20px;
  }
  .x800-get-en {
    position: relative;
    background-color: #13503a;
    width: 100%;
    height: 1563px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family: Montserrat;
  }

  .footer-inner {
    position: absolute;
    top: calc(50% - 12px);
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .copyright-2007-2023-betwi-parent {
    position: relative;
    font-size: 10px;
    line-height: 12px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 312px;
    left: calc(50% - 312px / 2);
  }
  .copyright-2007-container {
    position: relative;
    left: calc(50% - 312px / 2);
    top: calc(50% - 4px);
  }
}

@media screen and (max-width: 599px) {
  .x1080-get-en {
    min-height: 1311px;
  }
  .background-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1926px;
    height: 1408px;
    object-fit: cover;
  }
  .footer-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0f1717;
    height: 153px;
  }
  .copyright-2007 {
    position: absolute;
    top: 104px;
    left: 24px;
    line-height: 12px;
    display: inline-block;
    width: 312px;
  }
  .logo-icon {
    position: absolute;
    top: -69px;
    width: 169.05px;
    height: 16px;
  }
  .copyright-2007-container {
    top: calc(50% - 0px);
  }
  .child {
    position: absolute;
    top: 0px;
    left: calc(50% - 16px);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 32px;
    height: 32px;
  }
  .div1 {
    position: absolute;
    top: 8px;
    left: calc(50% - 8px);
    line-height: 16px;
    font-weight: 500;
  }
  .div {
    position: absolute;
    top: 0px;
    left: calc(50% - 135.5px);
    width: 32px;
    height: 32px;
  }
  .not-for-persons {
    margin: 0;
  }
  .not-for-persons-container {
    position: absolute;
    top: 4px;
    left: calc(50% - 87.5px);
    font-size: 10px;
    line-height: 12px;
  }
  .parent {
    position: absolute;
    top: 61px;
    left: calc(50% - 136px);
    width: 271px;
    height: 32px;
    text-align: left;
    font-size: 12px;
  }
  .footer {
    height: 152px;
  }
  .bank-transfer-icon {
    position: relative;
    width: 15px;
    height: 16px;
    object-fit: cover;
  }
  .visa-icon {
    position: relative;
    width: 32px;
    height: 10px;
    object-fit: cover;
  }
  .mastercard-icon {
    position: relative;
    width: 22px;
    height: 14px;
    object-fit: cover;
  }
  .skrill-icon {
    position: relative;
    width: 28px;
    height: 10px;
    object-fit: cover;
  }
  .google-play-icon {
    position: relative;
    width: 29px;
    height: 12px;
    object-fit: cover;
  }
  .bitcoin-icon {
    position: relative;
    width: 14px;
    height: 14px;
    object-fit: cover;
  }
  .and-more {
    position: relative;
    line-height: 12px;
    font-weight: 500;
    opacity: 0.5;
  }
  .payments {
    position: absolute;
    top: 963px;
    left: calc(50% - 312px / 2);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 312px;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: left;
    font-size: 8px;
  }
  .icon-broudcasting {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .more-then-10000-container {
    position: relative;
    line-height: 20px;
    font-weight: 900;
  }
  .broudcasting {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .benefits {
    position: absolute;
    top: calc(50% - 176.5px);
    left: calc(50% - 156px);
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 312px;
    height: 460px;
    display: flex;
    flex-direction: column;
    padding: 38px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 48px;
    font-size: 16px;
  }
  .bottom-icon {
    position: absolute;

    left: calc(50% - 685px / 2);
    width: 685px;
    height: 219px;
    object-fit: cover;
  }
  .man-icon {
    position: absolute;
    top: calc(50% - 53px);
    left: calc(50% + 52.5px);
    width: 128px;
    height: 163px;
    object-fit: cover;
  }
  .man-bottom {
    position: absolute;
    left: calc(50% - 685px / 2);
    width: 685px;
    height: 220px;
  }
  .bonus-group-child {
    position: absolute;
    top: 64px;
    left: calc(50% - 180px);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 3px solid #ffce06;
    box-sizing: border-box;
    width: 360px;
    height: 252px;
  }
  .img-girl-icon {
    position: absolute;
    top: 0px;
    left: calc(50% - 106px);
    width: 211px;
    height: 167px;
    object-fit: cover;
  }
  .free-spins {
    margin: 0;
    color: #ffce06;
  }
  .bonus-65500000-container {
    position: absolute;
    top: 175px;
    left: calc(50% - 163px);
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    width: 326px;
  }
  .button-icon {
    position: absolute;
    top: 0px;
    left: calc(50% - 103.5px);
    width: 207px;
    height: 64px;
    object-fit: cover;
  }
  .get-bonus {
    position: absolute;
    top: 20px;
    left: calc(50% - 70.5px);
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 0px #fff;
  }
  .button {
    position: absolute;
    top: 279px;
    left: calc(50% - 104px);
    width: 207px;
    height: 64px;
    font-size: 18px;
    color: #000;
  }
  .bonus-group {
    position: absolute;
    top: 88px;
    left: calc(50% - 180px);
    width: 360px;
    height: 343px;
    font-size: 20px;
  }
  .coin-left-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 71px;
    height: 264px;
    object-fit: cover;
  }
  .coin-right-icon {
    position: absolute;
    top: 0px;
    right: 0;
    width: 98px;
    height: 120px;
    object-fit: cover;
  }
  .logo-icon1 {
    position: absolute;
    top: 24px;
    left: calc(50% - 85px);
    width: 169.05px;
    height: 16px;
  }
  .x640-get-en {
    position: relative;
    background-color: #13503a;
    width: 100%;
    height: 1311px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-family: Montserrat;
  }
}

@media screen and (max-width: 599px) and (max-height: 552px) {
  .x1080-get-en {
    min-height: 1264px;
  }
  .bonus-group {
    position: absolute;
    top: 64px;
  }
  .benefits {
    position: absolute;
    top: calc(50% - 193.5px);
  }
  .payments {
    position: absolute;
    top: 912px;
  }
}
