.myButton {
	box-shadow:inset 9px 50px 0px -15px #1451b4;
	background-color:#1451b4;
	border-radius:6px;
	border:2px solid #241d13;
	display:inline-block;
	cursor:pointer;
    margin: auto;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 76px;
	text-decoration:none;
	&:hover {
	background-color:#1451b4;
}
 &:active {
	position:relative;
	top:1px;
}
 }
     